.search-element{
    margin-right:12px;
    font-size: 13px;
}
.search-element{
    margin-right:12px;
    font-size: 13px;
}
.icontainer{
    height: 100%;
    width: 100%;
    padding-top: 150px;
}
.imargin{
    margin-bottom: 10px;
}
.add-project-item{
	width:45%;
	margin-top:14px;
}